/* <%= generatorPackageName %> <%= generatorPackageVersion %> */
import type React from 'react';
import type { <%= componentName %>Props } from './types.js';
<% if (includeStyles) { _%>
import './<%= componentName %>.css';

const componentCssClassName = "<%= cssNamespace %> <%= componentCssClassName %>";
<%_ } _%>
  
/**
 * description of the <%= componentName %> component
 * @returns {React.ReactElement} - Rendered <%= componentName %>
 */
const <%= componentName %> = ({
  id,
  children,
  className,
  style,
  ...props
}: <%= componentName %>Props): React.ReactElement => {
  return (
    <div
      id={id}
      style={style}
      className={[
        <% if (includeStyles) { _%>
        componentCssClassName,
        <%_ } _%>
        className
      ].filter(Boolean).join(" ")}
      {...props}
    >
      {children}
    </div>
  )
};

export default <%= componentName %>;