/* <%= generatorPackageName %> <%= generatorPackageVersion %> */

import Component from "./<%= componentName %>.js";
// import type { <%= componentName %>Props } from './types.js'
import type { Meta, StoryObj } from "@storybook/react";
// import { StoryFn } from '@storybook/react'

const meta = {
  title: "<%= componentRelativePath %>",
  component: Component,
} satisfies Meta<typeof Component>;

export default meta;
type Story = StoryObj<typeof meta>;

export const Default: Story = {
  args: {
    children: <span>Hello world!</span>
  },
};

/*
export const Default = (args: <%= componentName %>Props) => <Component {...args} />;
Default.args = {
    children: <span>Hello world!</span>
};
*/

/*
const Template: StoryFn<typeof Component> = (args) => <Component {...args} />;

export const Default: StoryFn<typeof Component> = Template.bind({});
Default.args = {
  children: <span>Hello world!</span>
};
*/

/*
export const Default: StoryFn<typeof Component> = () => (
  <Component><span>Hello world!</span></Component>
);
*/
